tr {
    width: 100%;
}

.form-header {
    padding: 18px 0px;
}

.form-header > h1 {
    font-size: 1.25rem;
}

.form-header > p {
    font-size: 0.8rem;
    margin-top: 3px;
}

.form-inner {
    padding: 30px 0 0 0;
}

.form-inner > table > tr > td {
    padding: 15px;
}

.form-inner > table > tr > td:first-child {
    text-align: right;
}

.form-inner > table > tr > td > .user-input {
    border: 1px solid #000000;
    padding: 7px;
    width: 30em;
}

.form-inner > table > tr > td > button {
    border-radius: 4px;
    background-color: #9e9e9e;
    padding: 7px;
    width: 10em;
    transition: width 0.5s;
}
.form-inner > table > tr > td > button:hover {
    background-color: #757575;
}
